{% extends "base.html" %}

{% block content %}

{% if error %}
<div class="error">{{ error }}</div>
<br>
{% endif %}
<form method="post" action=".">{% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" name="query" id="query" placeholder="">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form><br>
{% for item in result.items %}
{% if item.item_class_id == 19 or item.item_class_id == 20 %}
Item: <a href="/skillgem/{{ item.id }}">{{ item.name }}</a><br>
{% else %}
Item: {{ item.name }} <br>
{% endif %}
{% endfor %} 

{% for quest in result.quests %}
Quest: <a href="/quest/{{ quest.id }}">{{ quest.title }}</a><br>
{% endfor %}

{% for mod in result.mods %}
Mod: {{ mod.name }}<br>
{% endfor %}

{% endblock %}
