{% extends "base.html" %}

{% block content %}
<h3>Prefixes</h3>
<table>
  <tr>
    <th>name</th>
    <th>stat1</th>
    <th>stat2</th>
    <th>stat3</th>
    <th>stat4</th>    
    <th>tags</th>
  </tr>
  {% for prefix in prefixes %}
  <tr>
    <td>{{ prefix.name }}</td>
    {% for modstat in prefix.modstat_set.all %}
    <td>{{ modstat.stat_min }} - {{ modstat.stat_max }} ({{ modstat.stat.text }})</td>
    {% endfor %}    
    <td>
      {% for modtag in prefix.modtag_set.all %}
      {{ modtag.tag.key }}, 
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

<h3>Suffixes</h3>
<table>
  <tr>
    <th>name</th>
    <th>stat1</th>
    <th>stat2</th>
    <th>stat3</th>
    <th>stat4</th>
    <th>tags</th>
  </tr>
  {% for suffix in suffixes %}
  <tr>
    <td>{{ suffix.name }}</td>
    {% for modstat in suffix.modstat_set.all %}
    <td>{{ modstat.stat_min }} - {{ modstat.stat_max }} ({{ modstat.stat.text }})</td>
    {% endfor %}
    <td>
      {% for modtag in suffix.modtag_set.all %}
      {{ modtag.tag.key }}, 
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

