{% extends "base.html" %}

{% block content %}
<h3>Prefixes</h3>
<table>
  <tr>
    <th>name</th>
    <th>stat1</th>
    <th>stat2</th>
    <th>stat3</th>
    <th>stat4</th>    
  </tr>
  {% for prefix in prefixes %}
  <tr>
    <td>{{ prefix.name }}</td>
    {% for modstat in prefix.modstat_set.all %}
    <td>{{ modstat.stat_min }} - {{ modstat.stat_max }} ({{ modstat.stat.text }})</td>
    {% endfor %}    
  </tr>
  {% endfor %}
</table>

<h3>Suffixes</h3>
<table>
  <tr>
    <th>name</th>
    <th>stat1</th>
    <th>stat2</th>
    <th>stat3</th>
    <th>stat4</th>
  </tr>
  {% for suffix in suffixes %}
  <tr>
    <td>{{ suffix.name }}</td>
    {% for modstat in suffix.modstat_set.all %}
    <td>{{ modstat.stat_min }} - {{ modstat.stat_max }} ({{ modstat.stat.text }})</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}

