{% extends "base.html" %}

{% block content %}
<h2>{{ item_type.name }}</h1>

{% if meta %}
<p>{{ meta.description }}</p>
<img src="{{ meta.image }}">
{% endif %}
<h3>Quest rewards</h3>
<table>
  <tr>
    <th>Quest</th>
    <th>Difficulty</th>
    <th>Character</th>
  </tr>
  {% for reward in rewards %}
  <tr>
    <td><a href="{% url 'quest' reward.quest.title %}">{{ reward.quest.title }}</a></td>
    {% if reward.difficulty == 1 %}
    <td>Normal</td>
    {% elif reward.difficulty == 2 %}
    <td>Cruel</td>
    {% elif reward.difficulty == 3 %}
    <td>Merciless</td>
    {% else %}
    <td>?</td>
    {% endif %}
    <td>{{ reward.character.name }}</td>
  </tr>
  {% endfor %}
</table>

<h3>Experience levels</h3>
<table>
  <tr>
    <th>Level</th>
    <th>Experience</th>
  </tr>
  {% for level in levels %}
  <tr>
    <td>{{ level.level }}</td>
    <td>{{ level.experience }}</td>
  </tr>
  {% endfor %}
</table>

<h3>Effects</h3>
<table>
  <tr>
    <th>level</th>
    {% if effects|length > 0 %}
    {% for grantedstat in effects.0.grantedeffectsperlevelstat_set.all %}
    {% if grantedstat.stat.code|length > 0 %}
    <th>{{ grantedstat.stat.code }}</th>
    {% endif %}
    {% endfor %}
    {% endif %}
  </tr>
  {% for effect in effects %}
  <tr>
    <td>{{ effect.level }}</td>
  {% for grantedstat in effect.grantedeffectsperlevelstat_set.all %}
  {% if grantedstat.stat.code|length > 0 %}
    <td>{{ grantedstat.value }}</tD>
  {% endif %}
  {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
